// font-family: 'Abril Fatface', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Fredoka One', cursive;
// font-family: 'Lobster', cursive;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'DM Serif Display', serif;

*{
    font-family: 'Quicksand', sans-serif;
}

main{
    background-color: $my_darkgrey;
}

ul{
    list-style-type: none;
    padding-left: 0;
}