header{
    .navbar-custom{
        background-color: $my_black;

        a{
            color: $my_white;
        }

        button{
            .navbar-toggler{
                #my_toggler{
                    i{
                        color: $my_white;
                    }
                }
            }
        }
    }
}