header{
    font-family: 'Quicksand', sans-serif;
    height: 60px;
    background-color: $my_black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    
    .navbar-custom{

        #logo{
            font-family: 'Lobster', cursive;
            font-size: 20px;
        }

        .my_search-bar{
            height: 20px;
            border-radius: 10px;
        }

        .my_bars{
            color: $my_white;
            font-size: 1.5rem;
        }

        .dropdown-menu{

            a{
                color: $my_black;
            }
        }

        a{
            color: $my_white;
        }

        button{
            .navbar-toggler{
                #my_toggler{
                    i{
                        color: $my_white;
                    }
                }
            }
        }
    }
}