// Jumbotron

#jumbotron{
    background-image: url('https://1.bp.blogspot.com/-gxiZqDZQoP8/Xm-jHO83F5I/AAAAAAAAD6w/uLu0pTsymHMOQ-POqXtKw2utMzyND_XUgCLcBGAsYHQ/s1600/10668917_986206874725810_8729407800697591212_o.jpg');
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    .jumbo-title{
        border-radius: 8px;
        color: $my_white;
        font-family: $font-family-dancing;
        height: 300px;
        width: 520px;
        background-color: #0001035b;
        margin-right: 100px;
        padding: 25px;
        h1{
            font-size: 3.5rem;
        }
        button{
            background-color: $cyan;
        }
    }
}



// Travel Ideas

.t-ideas{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 8px;
    }
}

// Media query per responsivness cell

@media screen and (max-width: 585px) {
    #jumbotron{
        height: 300px;
    }
  }