.index-wrapper{
    height: calc(100vh - 60px);

    .row{
        background-color: $my_new-black;
        border-radius: 20px;
    }

    a{
        color: $my_brightyellow;

        &:hover{
            color: white;
        }
    }

    .card{
        border: 3px solid $my_brightyellow;

        a{
            font-size: 20px;
            font-weight: bold;
            color: $my_black;
        }

        span{
            color: $my_darkgrey;
        }
    }
}