.index-wrapper{
    font-family: 'Quicksand', sans-serif;

    .row{
        background-color: $my_black;
        border-radius: 20px;
    }

    a{
        color: $my_brightyellow;
    }

    .card{
        border: 3px solid $my_brightyellow;

        a{
            font-size: 20px;
            color: $my_black;
        }
    }
}