.index-wrapper{
    background-color: $my_darkgrey;
    font-family: 'Quicksand', sans-serif;

    .row{
        background-color: $my_black;
        border-radius: 20px;
    }

    a{
        color: $my_red;
    }

    .card{
        height: 320px;
        a{
            font-size: 20px;
        }
    }
}