#jumbotron{

    #jumbo{
        background-image: url('https://1.bp.blogspot.com/-gxiZqDZQoP8/Xm-jHO83F5I/AAAAAAAAD6w/uLu0pTsymHMOQ-POqXtKw2utMzyND_XUgCLcBGAsYHQ/s1600/10668917_986206874725810_8729407800697591212_o.jpg');
        width: 100%;
        height: calc(100vh - 60px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    .jumbo-lg{
        border-radius: 8px;
        width: 520px;
        margin-right: 100px;
        height: 300px;
    }

    .jumbo-text{
        color: $my_brightyellow;
        padding: 25px;

        h1{
            font-size: 4rem;
            font-family: 'DM Serif Display', serif;
            text-shadow: 2px 2px 4px #000000;
        }
        p{
            text-shadow: 2px 2px 4px #000000;
        }

        button{
            background-color: $my_brightyellow;
            border: 1px solid $my_white;
            box-shadow: 1px 1px 2px #000000;

            &:hover{
                background-color: rgb(253, 253, 30);

                a{
                    text-decoration: none;
                    font-size: 20px;
                }
            }

            a{
                color: $my_black;
                font-weight: 600;
                font-size: 1.2rem;
            }
        }
    }
}