#jumbotron{

    #jumbo{
        background-image: url('../img/jumbo.jpg');
        width: 100%;
        height: calc(100vh - 60px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;

        .jumbo-text{

            h2{
                font-size: 3rem;
                font-family: 'DM Serif Display', serif;
            }
        }

        .white-block{
            color: white;
            margin-top: 0;
            background-color: black;
            height: calc(100vh - 60px);

            button{
                background-color: $my_white;
                border: 1px solid $my_black;
                margin: 20px;
    
                &:hover{
    
                    a{
                        text-decoration: none;
                        font-size: 20px;
                    }
                }
    
                a{
                    color: $my_black;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }
        }

        .black-block{
            color: $my_black;
            margin-top: 100px;

            button{
                background-color: $my_black;
                border: 1px solid $my_white;
                margin: 20px;
    
                &:hover{
    
                    a{
                        text-decoration: none;
                        font-size: 20px;
                    }
                }
    
                a{
                    color: $my_white;
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }
        }
    }
}