#promoted-houses{
    margin: 100px 0;
    padding: 100px 0;
    
    .main-carousel{
        padding: 60px;
    }
    .carousel-cell{
        height: 450px;
        width: 450px;
        margin: 0 20px;
        border-radius: 8px;
        a{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
            .animation-img{
                transition: all 3s;
            }
            
            .animation-img:hover{
                border-radius: 20px;
                filter: sepia(0.8);
                filter: saturate(1.7);
                transform: scale(0.9);
            }
        }
    }
}

.flickity-page-dots{
    width: 90% !important;
}

@media screen and (max-width: 700px) {
    #promoted-houses{
        margin: 40px 0;
        padding: 40px 0;
    }
    .main-carousel{
        padding: 20px;
    }
    .flickity-page-dots {
      display: none;
    }
    .carousel-cell{
        height: 200px !important;
        width: 200px !important;
        a{
            img{
                object-fit: contain;
            }
        }
    }
}
