// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-dancing: 'Dancing Script', cursive;
$font-family-gemunu: 'Gemunu Libre', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Our Palette
$my_white: #FFFFFA;
$my_lightgrey: #d8d8d8;
$my_grey: #515052;
$my_black: #000103;
$my_darkgrey: #141414;
$my_red: #FF312E;
$my_brightyellow: #d4c4ff;
// $my_brightyellow: #ffdf29;

// New Palette
$my_blue: #264653;
$my_lightblue: #2a9d8f;
$my_yellow: #ffd900;
$my_orange: #f4a261;
$my_darkorange: #e76f51;
$my_lightyellow: #fff5db;
$my_new-black: rgba(0, 0, 0, 0.507);


